

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 28px;
}
.ad_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.speed {
    font-size: 42px;
    font-weight: bold;
    /* margin-top: 20px; */
}

canvas {
    margin-top: 20px;
    width: 100% !important;
    max-width: 800px !important;
    height: auto !important;
}